@import "tailwindcss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.hard-reset p,
.hard-reset h2,
.hard-reset h3,
.hard-reset h4{
  all: revert
}
